{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}



{% block content %}
   <h1>Все новости</h1>
   <!-- Выводим новости, только если они есть с помощью тега if -->
  <hr>

   {% if posts %}
        <table>
            <tr>
                <td><b>Заголовок</b></td>
                <td><b>Превью</b></td>
                <td><b>Рейтинг</b></td>
                <td><b>Категории</b></td>
            </tr>

            {% for post in posts %}
                <tr>
                    <td style="text-align: left;">{{post}}</td>
                    <td style="text-align: left;">{{post.content|truncatewords:20}}</td>
                    <td>{{post.rating}}</td>

                    <td style="text-align: left;">Категории</td>

                </tr>
            {% endfor %}
        </table>
   {% else %}
       <h2>Конец истории</h2>
   {% endif %}

{% endblock content %}