{% extends 'flatpages/layout.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<div class="features">
       <h1>Поиск постов</h1>
      <hr>
    <div style="display: flex; justify-content: center;">
        <form action="" method="get" style="display: flex; flex-direction: column; margin: 0 auto;">
            {{ filterset.form.as_p }}
        <input type="submit" class="btn btn-success" value="Search" />
        </form>
    </div>
        <a href="../#"><button class="btn btn-danger">Back</button></a>


      <hr>

       {% if posts %}
           {% for post in posts %}
            <div class="alert alert-warning">
               <a href="{% url 'post_full' pk=post.pk %}">{{post.title|censor}}</a>
                <p></p>
               <h6 style="text-align: left; font-style: italic;">{{post.content|truncatewords:20|censor}}</h6>
                <p></p>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                   <h6>{{post.author}} {{post.t_creation|date:"j.F.Y" }}</h6>
                    <h6>Рейтинг: {{post.rating}}</h6>
                </div>
            </div>
           {% endfor %}
       {% else %}
           <h2>Ничего не найдено</h2>
       {% endif %}
</div>

{% endblock content %}